:root {
    --white: #fff;
    --light-grey: #dde1e4;
    --blue: #8da8bd;
    --red: #c23700;
    --green: rgb(138, 168, 110);
    --dark-grey: #161d23;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: monospace;
    background-color: var(--dark-grey);
}

.container {
    display: flex;
    height: 100vh;
}

.screen {
    border-radius: 2px;
    width: 500px;
    height: 700px;
}

.start-screen {
    display: flex;
    margin: auto;
    background-color: var(--green);
    color: var(--white);
    position: relative;
    cursor: pointer;
}

.start-screen:active {
    box-shadow: 2px 3px 6px #222a;
}

.start-screen__content {
    margin: auto;
    text-align: center;
}

.title {
    font-size: 5rem;
}

.sub-title {
    font-size: 1.5rem;
}

.loader {
    position: absolute;
    bottom: 10px;
    height: 10px;
    width: 100%;
    background-color: var(--red);
    animation-duration: 2s;
    animation-name: loading;
}

@keyframes loading {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

.play-screen {
    margin: auto;
    cursor: none;
}

.play-screen__content {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.arena-container {
    position: relative;
    margin: 0 auto;
    width: 500px;
    height: 250px;
    border-bottom: 1px solid black;
}

.powerbar-section {
    position: absolute;
    top: 2px;
    left: 2px;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 4px);
}

.powerbar-container {
    background-color: var(--red);
    width: 45%;
    border-radius: 20px;
}

.powerbar {
    width: 100%;
    height: 10px;
    background-color: var(--green);
    border-radius: 20px;
}

.arena-container {
    background-color: var(--light-grey);
}

.character-area {
    margin: 0 auto;
    padding: 15px;
    width: 500px;
    background-color: var(--green);
}

.display-outer {
    margin: 0 auto;
    width: 400px;
    height: 400px;
    display: flex;
}

.display-inner {
    font-size: 15rem;
    margin: auto;
    color: var(--white);
}

.input {
    margin: 0 auto;
    width: 250px;
    text-align: center;
    font-size: 1.3rem;
    color: #333;
    width: 100%;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.input:focus-visible {
    outline: none;
}

.error {
    color: var(--red);
}

.hide {
    display: none;
}

.wallpaper {
    background-image: url('assets/images/japanese-garden.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}
