:root {
    --gb-1: #000;
    --gb-2: #181322;
    --gb-3: #a2423a;
    --gb-4: #cdc1a7;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace;
    background-color: #dfdcd7;
}

.container {
    display: flex;
    height: 100vh;
}

.screen {
    border-radius: 2px;
    width: 500px;
    height: 700px;
    background-color: var(--gb-2);
    box-shadow: 2px 2px 5px -1px #333a;
}

.start-screen {
    position: relative;
    margin: auto;
    color: var(--gb-4);
    cursor: none;
}

.start-screen:active {
    box-shadow: 2px 3px 6px #222a;
}

.start-screen__content {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: auto;
    text-align: center;
}

.title {
    position: absolute;
    top: 142px;
    right: 31px;
    font-size: 4rem;
    color: var(--gb-1)
}

.sub-title {
    font-size: 1.5rem;
    position: absolute;
    top: 208px;
    right: 31px;
    color: var(--gb-1)
}

.title-image {
    display: block;
    position: absolute;
    bottom: 2px;
    left: 25px;
}

.loader {
    position: absolute;
    bottom: 10px;
    height: 10px;
    width: 100%;
    background-color: var(--gb-3);
    animation-duration: 2s;
    animation-name: loading;
}

@keyframes loading {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

.blink {
    animation: blinking 3s steps(10, start) infinite;
}

@keyframes blinking {
    to {
        visibility: hidden;
    }
}

.play-screen {
    margin: auto;
    cursor: none;
}

.play-screen__content {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.arena-container {
    position: relative;
    margin: 0 auto;
    width: 500px;
    height: 250px;
}

.powerbar-section {
    position: absolute;
    top: 5px;
    left: 2px;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 4px);
}

.powerbar-container {
    background-color: var(--gb-3);
    width: 45%;
    border-radius: 20px;
}

.powerbar {
    width: 100%;
    height: 10px;
    background-color: var(--gb-2);
    border-radius: 20px;
}

.arena-container {
    background-color: var(--gb-4);
}

.character-area {
    margin: 0 auto;
    padding: 0 15px;
    width: 500px;
}

.display-outer {
    margin: 0 auto;
    width: 400px;
    height: 400px;
    display: flex;
}

.display-inner {
    margin: auto;
    color: var(--gb-4);
}

.input {
    margin: 0 auto;
    text-align: center;
    font-size: 1.3rem;
    width: 100%;
    padding: 5px;
    border: none;
    border-bottom: 5px solid var(--gb-4);
    background-color: var(--gb-2);
    color: var(--gb-4);
    caret-color: var(--gb-2);
}

.input:focus-visible {
    outline: none;
}

.instructions {
    margin: 0 auto;
    text-align: center;
    font-size: 1.3rem;
    width: 100%;
    padding: 5px;
    color: var(--gb-4);
}

.level-title {
    margin-bottom: 20px;
}

.hiragana-table {
    margin: 0 auto;
    width: 100%;
    text-align: left;
}

.hiragana-table td:nth-child(2) {
    padding-right: 30px;
}

.victory-title {
    text-align: center;
}

.victory-message {
    text-align: center;
    font-size: 1rem;
}

.error {
    color: var(--gb-3);
}

.hide {
    display: none;
}
