* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    display: flex;
}

.game {
    margin: auto;
    border: 1px solid #aaa;
}

.screen {
    position: relative;
    height: 100%;
    padding: 50px;
    text-align: center;
}

.screen h1 {
    font-size: 1.5rem;
    font-weight: 300;
}

.instructions {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    bottom: 50px;
    left: 0;
}

.blink {
    animation: blinking 3s steps(10, start) infinite;
}

@keyframes blinking {
    to {
        visibility: hidden;
    }
}
