* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    display: flex;
}

.game {
    position: relative;
    margin: auto;
    box-shadow: 0 0 5px 1px #ccca;
}

.screen {
    position: relative;
    height: 100%;
    text-align: center;
}

.screen h1 {
    font-size: 1.5rem;
    font-weight: 300;
}

.loader,
.instructions {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    bottom: 50px;
    left: 0;
}

.background-image {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.hide {
    display: none;
}

.blink {
    animation: blinking 3s steps(10, start) infinite;
}

@keyframes blinking {
    to {
        visibility: hidden;
    }
}
